.sidebar{
  display: flex;
  flex-direction: column;
  width: 10vw;
  height: 100vh;
  position: sticky;
  background-color: grey;
  gap: 20px;
  padding: 10px;
}
.submenu{
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 100vh;
  position: sticky;
  background-color: rgb(125, 154, 218);
  gap: 20px;
  padding: 10px;
}
.container{
  display: flex;
  flex-direction: row;
}
.btn{
  background: seagreen;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 4px;
  cursor: pointer;
}
.btn-sub{
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  color: rgb(20, 14, 135);
  padding: 4px;
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(12, 124, 60);
}
.btn-active{
  background-color: rgb(255, 255, 255);
  color: seagreen;
}
.btn-sub-active{
  background-color: rgb(20, 89, 108);
  color: white;
}